@font-face {
  font-family: WorkSans-SemiBold;
  src: url(WorkSans-SemiBold.ttf);
}
body {
  margin: 0 auto;
}

.menu-container {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 1fr 1fr;
}
.menu-container .header-menu {
  margin-right: 11em;
}
.menu-container .flex-row {
  margin-top: 1em;
}
.menu-container img {
  width: 100%;
  height: auto;
  padding: 1em;
}
.menu-container #logo {
  grid-row: span 2;
}
.menu-container .icons {
  margin: 0 1em;
}
.menu-container .icons .header-icon {
  margin: 0 0.3em;
}
.menu-container .icons a {
  color: #73767c;
  font-family: "Work Sans", sans-serif;
}
.menu-container .icons img {
  width: 24px;
  padding: 0;
}
.menu-container .language .active {
  color: #ea262a;
}

.nav .nav-link {
  font-family: "WorkSans-SemiBold";
  color: #1e1f21;
}

.navbar {
  font-family: "Work Sans", sans-serif;
  border-top: solid 0.5px #d3d3d3;
  border-bottom: solid 0.5px #d3d3d3;
}
.navbar .navbar-nav {
  margin: 0 auto;
}
.navbar .navbar-nav .nav-item {
  padding: 0 3em;
}
.navbar .navbar-nav .active .nav-link {
  color: #ea262a;
}

.navbar-light .navbar-nav .nav-link {
  color: #1e1f21;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 0.5px solid #dedede;
}
.grid .info {
  place-self: center;
}
.grid .info h1 {
  font-family: "Unna", serif;
  font-size: 2em;
  color: #1e1f21;
}
.grid .info p {
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  line-height: 1.3em;
  color: #1e1f21;
}
.grid .info .btn-outline-primary {
  color: #ea262a;
  border-color: #ea262a;
  width: 12em;
  margin-top: 4em;
}
.grid .info .btn-outline-primary:hover {
  color: #FFF;
  background-color: #ea262a;
}
.grid .info .btn-outline-primary:focus {
  outline: none !important;
  box-shadow: none !important;
}
.grid img {
  width: 100%;
  height: auto;
}

footer {
  border-bottom: 0.5px solid #dedede;
}
footer .newsletter {
  width: 80%;
  margin: 2em 8em;
  padding-bottom: 1em;
  border-bottom: 0.5px solid #dedede;
}
footer .newsletter h2 {
  font-family: "Unna", serif;
  font-size: 1.7em;
  color: #1e1f21;
}
footer .newsletter .checkbox label {
  font-family: "Work Sans", sans-serif;
  color: #73767c;
  margin-right: 1em;
  width: 100%;
}
footer .newsletter .checkbox input {
  display: none;
}
footer .newsletter .checkbox .checkmark {
  height: 20px;
  width: 20px;
  border: 1px solid #979797;
}
footer .newsletter .email {
  border: 1px solid #d3d3d3;
  padding: 0.2em 0.5em;
}
footer .newsletter .email .email-input {
  width: 25em;
  height: 2.5em;
  border: none;
}
footer .newsletter ::placeholder {
  font-family: "Work Sans", sans-serif;
  color: #73767c;
}
footer .footer-grid {
  margin: 2em 8em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer .footer-grid .partneri {
  grid-column: span 2;
}
footer .footer-grid .partneri .logos {
  width: 90%;
}
footer .footer-grid .partneri img {
  align-self: center;
}
footer .footer-grid .partneri p {
  margin: 0;
}
footer .footer-grid h2 {
  font-family: "Unna", serif;
  font-size: 1.7em;
  color: #1e1f21;
}
footer .footer-grid p {
  font-family: "Work Sans", sans-serif;
  color: #73767c;
}
footer .footer-grid ul {
  padding: 0;
}
footer .footer-grid ul li {
  font-family: "Work Sans", sans-serif;
  color: #73767c;
  list-style-type: none;
}
footer .footer-grid .mapa {
  margin: 0;
}
footer .footer-grid .contact {
  margin-top: 1em;
}

.footer-additional {
  margin: 2em 8em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-family: "Work Sans", sans-serif;
  color: #73767c;
}
.footer-additional p {
  margin-bottom: 0;
}
.footer-additional .orchestr {
  color: #ea262a;
}
.footer-additional .orchestr img {
  height: 20px;
  padding-right: 0.5em;
}
.footer-additional .social {
  grid-column: span 2;
  color: #1e1f21;
}

.copyright {
  margin: 1em 8em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.copyright p {
  font-family: "Work Sans", sans-serif;
  color: #73767c;
}
.copyright #copyright-text {
  color: #1e1f21;
  grid-column: span 2;
  place-self: end;
}

/*TABLETS*/
@media (min-width: 768px) and (max-width: 1024px) {
  .menu-container .header-menu {
    margin-right: 4em;
    padding-bottom: 1em;
  }

  .navbar .navbar-nav {
    flex-direction: row;
    justify-items: center;
  }

  .grid .info {
    padding-left: 2em;
  }

  footer .newsletter {
    width: 90%;
    margin: 2em 2em;
  }
  footer .newsletter .email .email-input {
    width: 13em;
  }
  footer .footer-grid {
    margin: 2em 2em;
  }
  footer .footer-grid .logos img {
    width: 80px;
  }
  footer .footer-grid p {
    font-size: 0.9em;
  }
  footer .footer-grid ul {
    font-size: 0.9em;
  }
  footer .footer-additional {
    margin: 2em 2em;
    font-size: 0.9em;
  }

  .copyright {
    margin: 1em 2em;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .copyright #copyright-text {
    grid-column: span 1;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .menu-container .header-menu {
    margin-right: 0;
  }
  .menu-container .main-menu {
    grid-column: span 2;
    font-size: 0.8em;
  }

  .navbar .navbar-nav {
    flex-direction: row;
    justify-content: center;
  }
  .navbar .navbar-nav .nav-item {
    padding: 0 1em;
  }
  .navbar .navbar-nav .nav-link {
    font-size: 0.8em;
  }

  .grid {
    grid-template-columns: 1fr;
  }
  .grid :nth-child(2) {
    order: 1;
  }
  .grid :nth-child(1) {
    order: 2;
  }
  .grid :nth-child(3) {
    order: 3;
  }
  .grid :nth-child(4) {
    order: 4;
  }
  .grid :nth-child(5) {
    order: 6;
  }
  .grid :nth-child(6) {
    order: 5;
  }
  .grid :nth-child(7) {
    order: 7;
  }
  .grid :nth-child(8) {
    order: 8;
  }
  .grid .info {
    padding: 1em 1em;
  }
  .grid .info .btn-outline-primary {
    margin-top: 0;
  }

  footer .newsletter {
    margin: 2em 1em;
    width: 90%;
    flex-direction: column;
  }
  footer .newsletter .checkbox label {
    width: 80%;
    margin-bottom: 2rem;
  }
  footer .newsletter .email {
    width: 90%;
  }
  footer .footer-grid {
    margin: 2em 1em;
    width: 90%;
    grid-template-columns: 1fr;
  }
  footer .footer-grid .partneri {
    margin-bottom: 2em;
  }
  footer .footer-additional {
    margin: 0em 1em;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  footer .footer-additional .orchestr {
    grid-column: span 2;
  }
  footer .footer-additional .dalsi-prodej {
    grid-column: 3/span 2;
  }

  .copyright {
    margin: 2em 1em;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .copyright p {
    font-size: 0.7em;
  }
  .copyright #copyright-text {
    grid-column: span 1;
    place-self: start;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .menu-container {
    grid-template-columns: 1fr;
  }
  .menu-container #logo {
    grid-column: span 2;
  }

  footer .footer-grid .partneri .logos {
    width: 100%;
  }
  footer .footer-grid .partneri .logos .logo {
    width: 80px;
  }
  footer .footer-grid .footer-menu {
    padding: 0 0.5em;
  }

  .copyright {
    grid-template-columns: 1fr;
    margin: 1em 1em;
  }
  .copyright p {
    margin: 0;
    text-align: center;
  }
  .copyright #copyright-text {
    place-self: center;
  }
}

/*# sourceMappingURL=fok.css.map */
